In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Qn3. Import data
path = r'C:\Users\Hiroshi\Documents\12-2023 Instacart Basket Analysis'
df_orders_products_combined = pd.read_pickle(os.path.join(path, '02 Data', '02 Prepared Data', 'orders_products_combined.pkl'))
df_prods = pd.read_csv(os.path.join(path, '02 Data', '02 Prepared Data', 'products_checked.csv'), index_col = False)

In [3]:
# Qn4. Check shape of dataframe: same as the one exported.
df_orders_products_combined.shape

(32434489, 13)

In [4]:
df_prods.shape

(49672, 6)

In [5]:
# Qn5. Combine df_orders_products_combined and products data set (Test)
df_orders_products_combined.drop(columns = ['_merge','Unnamed: 0.1','Unnamed: 0'],inplace = True)
df_prods.drop(columns = ['Unnamed: 0'],inplace = True)
pd.merge(df_orders_products_combined,df_prods,on = ['product_id'], indicator = True, how = 'left')

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,1,196,1,0,Soda,77.0,7.0,9.0,both
1,2539329,1,1,2,8,NaN,1,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,both
2,2539329,1,1,2,8,NaN,1,12427,3,0,Original Beef Jerky,23.0,19.0,4.4,both
3,2539329,1,1,2,8,NaN,1,26088,4,0,Aged White Cheddar Popcorn,23.0,19.0,4.7,both
4,2539329,1,1,2,8,NaN,1,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32435054,2977660,206209,13,1,12,7.0,0,14197,5,1,Tomato Paste,9.0,9.0,5.6,both
32435055,2977660,206209,13,1,12,7.0,0,38730,6,0,Brownie Crunch High Protein Bar,3.0,19.0,5.9,both
32435056,2977660,206209,13,1,12,7.0,0,31477,7,0,High Protein Bar Chunky Peanut Butter,3.0,19.0,4.2,both
32435057,2977660,206209,13,1,12,7.0,0,6567,8,0,Chocolate Peanut Butter Protein Bar,3.0,19.0,4.9,both
32435058,2977660,206209,13,1,12,7.0,0,22920,9,0,Roasted & Salted Shelled Pistachios,117.0,19.0,1.7,both

In [6]:
# Memory error troubleshooting: Change types for ords data set
df_orders_products_combined['order_id']=df_orders_products_combined['order_id'].astype('int32')
df_orders_products_combined['user_id'] = df_orders_products_combined['user_id'].astype('int32')
df_orders_products_combined['order_number']=df_orders_products_combined['order_number'].astype('int8')
df_orders_products_combined['order_dow']=df_orders_products_combined['order_dow'].astype('int8')
df_orders_products_combined['order_hour_of_day']=df_orders_products_combined['order_hour_of_day'].astype('int8')
df_orders_products_combined['days_since_prior_order']=df_orders_products_combined['days_since_prior_order'].astype('float16')
df_orders_products_combined['first_order']=df_orders_products_combined['first_order'].astype('int8')
df_orders_products_combined['product_id']=df_orders_products_combined['product_id'].astype('int32')
df_orders_products_combined['add_to_cart_order']=df_orders_products_combined['add_to_cart_order'].astype('int8')
df_orders_products_combined['reordered']=df_orders_products_combined['reordered'].astype('int8')

In [10]:
# Memory error troubleshooting: Change types for prods data set
df_prods['product_id'] =df_prods['product_id'].astype('int32')
df_prods['aisle_id']=df_prods['aisle_id'].astype('int8')
df_prods['department_id']=df_prods['department_id'].astype('int8')

In [11]:
# Qn5. Combine df_orders_products_combined and products data set
df_ords_prods_merge = df_orders_products_combined.merge(df_prods,on = ['product_id'], indicator = True, how = 'left')

In [12]:
# Qn6. Confirm the results of the merge using the merge flag.
df_ords_prods_merge['_merge'].value_counts(dropna = False)
# This shows that it is not a full match. There are some products in the ords data that do not exist in the prods data.

_merge
both          32404859
left_only        30200
right_only           0
Name: count, dtype: int64

In [13]:
# Qn7. Export data.
df_ords_prods_merge.to_pickle(os.path.join(path, '02 Data','02 Prepared Data', 'ords_prods_merge.pkl'))